In [3]:
# importing pandas
import pandas as pd
csv_path = 'file1.csv'
df = pd.read_csv(csv_path)

In [4]:
# Dataframes
df.head()

Empty DataFrame
Columns: [1 2 3 4 5 6 7 8 9 10]
Index: []

In [5]:
# xlsx_path = 'file1.xlsx'
# df = pd.read_excel(xlsx_path)
# df.head()

In [16]:
# Dataframes
songs = {'Album': ['Thriller', 'Back in Black', 'The Dark side of the Moon', 'The Bodyguard', 'Bat out of Hell'],
         'Released': [1982, 1980, 1973, 1992, 1977],
        'Length': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33']}
songs_frame = pd.DataFrame(songs)
print(songs_frame)

                       Album    Length  Released
0                   Thriller  00:42:19      1982
1              Back in Black  00:42:11      1980
2  The Dark side of the Moon  00:42:49      1973
3              The Bodyguard  00:57:44      1992
4            Bat out of Hell  00:46:33      1977

In [17]:
x = songs_frame[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33

In [18]:
y = songs_frame[['Album', 'Length', 'Released']]
y

                       Album    Length  Released
0                   Thriller  00:42:19      1982
1              Back in Black  00:42:11      1980
2  The Dark side of the Moon  00:42:49      1973
3              The Bodyguard  00:57:44      1992
4            Bat out of Hell  00:46:33      1977

# Using loc, iloc and ix

There are three ways to select data from a data frame in Pandas: loc, iloc, and ix.

## loc

loc is primarily label based; when two arguments are used, you use column headers and row indexes to select the data you want. loc can also take an integer as a row or column number.

Examples of loc usage:

<img src ="img/img1.png">

loc will return a KeyError if the requested items are not found.

## iloc

iloc is integer-based. You use column numbers and row numbers to get rows or columns at particular positions in the data frame. 

Examples of iloc usage:

<img src = "img/img2_iloc.png">

iloc will return an IndexError if the requested indexer is out-of-bounds.

## ix

By default, ix looks for a label. If ix doesn't find a label, it will use an integer. This means you can select data by using either column numbers and row numbers or column headers and row names using ix.

In Pandas version 0.20.0 and later, ix is deprecated.

## Using loc and iloc for slicing

You can also use loc and iloc to slice data frames and assign the values to a new data frame. <br>

### Creating a new dataframe with loc slicing <br>
You can also slice data frames and assign the values to a new data frame using the column names. The code assigns the first three rows and all columns in between to the columns named Artist and Released. The result is a new data frame Z with the corresponding values.

<img src = "img/img3.png">

### Creating a new dataframe with iloc slicing

In this example, we assign the first two rows and the first three columns to the variable Z. The result is a data frame comprised of the selected rows and columns.

<img src = "img/img4.png">