In [1]:
# Len
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
L = len(album_ratings)
print(L)

8

In [3]:
S = sum(album_ratings)
print(S)

70.0

In [6]:
# Sorted vs sort
sorted_album_rating = sorted(album_ratings)
print(sorted_album_rating)
print(album_ratings)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]
[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [5]:
L = [1,3,2]
sorted(L)
print(L)

[1, 3, 2]

In [10]:
print(album_ratings)
album_ratings.sort()
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [16]:
def add1(a):
    """
    add 1 to a
    """
    b = a + 1
    return b
help(add1)
add1(5)

Help on function add1 in module __main__:

add1(a)
    add 1 to a

6

In [15]:
c = add1(10)
print(c)

11

In [19]:
# Multiple Parameters
# - A function can have multiple parameters
def Mult(a, b):
    c = a*b
    return c
Mult(2,3)

6

In [20]:
Mult(10, 3.14)

31.400000000000002

In [22]:
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [23]:
def MJ():
    print("Michale Jackson")
MJ()

Michale Jackson

In [24]:
def NoWork():
    pass
print(NoWork())

None

In [25]:
def NoWork():
    pass
    return None
print(NoWork())

None

### 2020/3/10

In [26]:
def add1(a):
    b = a + 1;
    print(a, "plus equals", b)
    return b
add1(2)

2 plus equals 3

3

In [27]:
def printStuff(Stuff):
    for i, s in enumerate(Stuff): 
        print("Album", i, "Rating is", s)
album_ratings = [10.0, 8.5, 9.5]
printStuff(album_ratings)

Album 0 Rating is 10.0
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [32]:
def ArtistNames(*names):
    for name in names:
        print(name)
names = ("Michael Jackson", "AC/DC", "Pink Floyd")
ArtistNames(*names)

Michael Jackson
AC/DC
Pink Floyd

In [34]:
ArtistNames("Michael Jackson", "AC/DC")

Michael Jackson
AC/DC

In [35]:
# scope
# global scope
def AddDC(x):
    x = x + "DC"
    print(x)
x = "AC"
z = AddDC(x)

ACDC

In [39]:
# scope: Local  Variables
## global scope
def Thriller():
    Date = 1982
    return Date
Thriller()
# Date()

1982

In [42]:
def Thriller():
    Date = 1982
    return(Date)

Date = 2017
print(Thriller())
print(Date)

1982
2017

In [51]:
def ACDC(y):
    print(Rating)
    return(Rating + y)
Rating = 9
Z = ACDC(1)
print(Z)
print(Rating)
print(Z)

9
10
9
10

In [54]:
def PinkFloyd():
    global ClaimedSales
    ClaimedSales = '45 million'
    #return ClaimedSales
    return

PinkFloyd()
print(ClaimedSales)

45 million

## Tests

In [57]:
# 1
def delta(x):
    if x == 0:
        y = 1;
    else:
        y = 0;
    return (y)
delta(0)

1

In [58]:
#2
def add(x):
    return(x + x)
add(1)

2

In [59]:
def hello():
    print("hello")

In [60]:
a = 1
def do(x):
    a = 100
    return (x + a)

print(do(1))

101

In [61]:
def add(a, b):
  return (a + b)